/* @tailwind components;

@layer components {
  .heading1{
    .card{
      @apply text-2xl font-bold text-center text-orange-700 mb-10;
    }
  }
} */


:root{
  --primary:  rgba(241, 104, 31);
  --hover-li-color:  rgb(255, 158, 106);
  --small-heading-text-color: rgb(241, 104, 31);
  --focus-input-outline-color: rgb(254, 90, 1);
}

body{
  overflow-x: hidden;
}


.heading1{
  text-align: center;
}

.heading1 span{
  font-size: 1.8em;
  margin-bottom: 0.8rem;
  display: block;
  color: var(--small-heading-text-color);
}

.heading1 h3 {
  font-weight: bolder;
  font-size: 2.8rem /* 24px */;
  line-height: 2rem;
  color: rgb(8, 3, 1);
  margin-bottom: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 7px;

}


header{
  background-color: rgba(241, 104, 31, 0);
  /* padding-block: 0.8rem; */
  padding-block: 1.9rem;
  transition: all 0.7s;
}

header.AtTop{
  background-color: rgba(241, 104, 31, 0.8);
  padding-block: 0.8rem;
  
}

/* div.aboutUsImgHolder{
  background-image: url('../image/perpetualTasteImg/bakery2.jpeg');
  background-size: 100%;
  transition: all 0.7s ease-in;
  background-position: -50% -50%;
}

div.aboutUsImgHolder:hover{
  background-size: 120%;
} */

.group:hover .group-hover\:scale-120 {
  --tw-scale-x: 1.2;
  --tw-scale-y: 1.2;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

p {
  line-height: 1.9;
  font-size: 1rem;
}

input, textarea, select, div.custom-select div.chosen {
  border-radius: 10px !important;
  outline-width: 1px;
  /* outline-color: rgb(228, 228, 228); */
  outline-style: solid;
  border-image: none;
  border: none;
  height: 40px;
  width: 100%;
}

.white-form input, .white-form textarea, .white-form select, .white-form div.chosen, .searchTab > .searchHolder:focus-within, :not(.searchTab > .searchHolder)  {
  outline-color: rgb(99, 99, 99);
}

input:not(form.white-form input), textarea:not(form.white-form textarea), select:not(form.white-form select) {
  /* border-radius: 10px !important; */
  /* outline-width: 2px; */
  outline-color: rgb(228, 228, 228);
  /* outline-style: solid; */
  /* border-image: none; */
}

/* , .searchTab > .searchHolder:focus-within, div:not(.searchTab > .searchHolder) */

input:focus, textarea:focus, select:focus{
  outline-color: var(--focus-input-outline-color) !important;
  outline-width: 2px;
  border: none;
  outline-style: solid;
}

/* , input:not(.searchTab > .searchHolder input:focus) */

/* details.custom{
}

details.custom summary{
  background-color: white;
  font-weight: 400;
  border: none;
  display: flex;
  padding: 10px 15px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  border-radius: 4px;
}

details.custom summary:hover{
  border: none;
  background-color: white;
}

details.custom ul{
  width: 100%;
  padding-inline: 0;
}

details.custom li{
  display: block;
  padding: 8px 8px;
  cursor: pointer;
}

details.custom li:hover:not(.disabled), details.custom li:hover:not(.active){
  background-color:   var( --hover-li-color);
  color: white;
}

details.custom span{
  display: inline;
  padding: 0;
}

details.custom span:hover{
  background-color: transparent;
} */

.hold_pattern{
  background-image: url('../image/perpetualTasteImg/design/pattern1.png');
  background-repeat: repeat;
}

a.animatedBtn1, button.animatedBtn1 {
  position: relative;
  overflow: hidden;
}

a.animatedBtn1>span, button.animatedBtn1>span {
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: width 0.6s ease-in-out;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  white-space: nowrap;
}

a.animatedBtn1>span>span, button.animatedBtn1>span>span{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

a.animatedBtn1:hover>span, button.animatedBtn1:hover>span {
  width: 100%;
}

/* Styles for Select Element */


div.loungeTypeSelection, div.bakeTypeSelection{
  position: relative;
}

/* div.custom-select div.chosen {
  background-color: white;
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

div.custom-select div.chosen {
  /* background-color: white; */
  width: 100%;
  padding: 10px 12px;
  /* border-radius: 8px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.custom-select div.chosen {
  background-color: white;
  /* width: 100%; */
  /* padding: 10px 12px; */
  border-radius: 8px;
  /* display: flex; */
  /* align-items: center;
  justify-content: space-between; */
}

div.custom-select div.chosen::after{
  display: block;
  content:'\25BC';
  font-size: 10px;
}

div.custom-select.open div.chosen::after{
  content: '\25B2';
}

/* div.custom-select div.chosen:focus{
  outline: 2px var(--focus-input-outline-color) solid;
  border-radius: 8px;
} */
div.custom-select:focus{
  outline: 2px var(--focus-input-outline-color) solid;
  border-radius: 8px;
}



.custom-select ul{
  display: none;
  position: absolute;
  width: 100%;
  /* top: calc(100% + 3px); */
  background-color: white;
  list-style: none;
  max-height: 180px;
  overflow-y:auto ;
  box-shadow:  
        -5px 5px 3px rgba(0, 0, 0, 0.1), /* Left shadow */
         5px 5px 3px rgba(0, 0, 0, 0.1), /* Right shadow */
         0px 5px 3px rgba(0, 0, 0, 0.1); /* Bottom shadow */;
  border-radius: 8px;;
}

/* div.custom-select div.chosen:focus+ul{
  display: block;
} */

div.custom-select:focus ul{
  display: block;
}

.custom-select ul li {
  padding: 8px 12px;
}

.custom-select ul li:hover{
  background-color: var(--hover-li-color);
  color: white;
}


/* CSS Classes for effecting the movement effects */

.food_menu{
  transform: translate(0, -40%);
  opacity: 0;
  transition: all 1.1s ease;
}

.food_daily_menu{
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 1.1s ease;
}

.bakery_image{
  transform: translate(-60%, 0);
  opacity: 0;
  transition: all 1.1s ease;
  
}

.lounge_animation_holder{
  transform: translate(60%, 0);
  opacity: 0;
  transition: all 1.1s ease;
  
}
.aboutText, .servicesImage{
  transform: translate(60%, 0);
  opacity: 0;
  transition: all 1.1s ease; 
}

.aboutImage, .ourServicesText{
  transform: translate(-60%, 0);
  opacity: 0;
  transition: all 1.1s ease;
}

.appear {
  transform: translate(0, 0);
  opacity: 1;
}


form.make-fields-bg-transparent select, form.make-fields-bg-transparent input, form.make-fields-bg-transparent select, form.make-fields-bg-transparent .custom-select > div.chosen, form.make-fields-bg-transparent textarea{
  background-color: transparent;
}


button.themed_btn{
  color: rgb(68, 68, 68);
}

button.themed_btn:hover{
  color: black;
}

button.themed_btn:active{
  color: var(--focus-input-outline-color);
}

.z-3{
  z-index: 3;
}